{{ partial "_top.html" . }}
<section id="project">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h1 class="title">{{ .Title }}</h1>
        <hr class="star-primary">
        <a href="{{ .Params.link }}">
          <img src="{{ .Site.BaseURL }}img/portfolio/{{ .Params.img2 }}" class="img-responsive img-centered" alt="">
        </a>

        <div class="description">
          <p>{{ .Content }}</p>
        </div>
        <ul class="list-inline item-details">
          <strong>
            <a href="{{ .Params.link }}" class="ext-link">
              <i class="fa fa-link"></i>
              {{ replace (replace .Params.link "http://" "") "https://" "" }}
            </a>
          </strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{{ partial "_bottom.html" . }}