{{ partial "_top.html" . }}
<section id="blog">
  <div class="container">
    <h1 class="title">Blog</h1>
    <ul class="media-list">
      {{ range .Data.Pages }}
      <hr/>
      <li class="media">
        <h3 class="media-heading"><a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <small>{{ .Date.Format "Mon, Jan 2, 2006" }}</small>
        </h3>
        <div class="media-body">
          {{if .Params.image}}
          <div class="pull-left">
            <div class="image" style="background-image: url({{ .Site.BaseURL }}img/{{ .Params.image }})"></div>
          </div>
          {{ end }}
          {{.Summary}}
          {{ if .Truncated }}
          <a href="{{ .RelPermalink }}" class="btn btn-success">Read More</a>
          {{ end }}
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
</section>


{{ partial "_bottom.html" . }}