{{ partial "_top.html" . }}
<section id="blog">
  <div class="container">
    <div class="post">
       {{if .Params.image}}
      <div class="full-image" style="background-image: url({{ .Site.BaseURL }}img/{{ .Params.image }})"></div>
      {{ end }}
      <h1 class="title">
        {{ .Title }}
        <small>{{ .Date.Format "Mon, Jan 2, 2006" }}</small>
      </h1>

      <hr />
      {{ .Content }}

    </div>
    <hr />
    {{ partial "comments.html" . }}
  </div>
</section>


{{ partial "_bottom.html" . }}